// src/scss/blocks/_card.scss
@use "sass:map";
@use "../settings" as settings;

.card {
  border-radius: 0.75rem;
  border: 1px solid var(--color-border-subtle);
  background-color: var(--color-surface-raised);
  padding: map.get(settings.$space-scale, lg);
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;

 &:hover{
  @include hover-lift();
 }
}

.card__header {
  margin-block-end: map.get(settings.$space-scale, sm);
}

.card__body {
  font-size: map.get(settings.$font-size-scale, 0);
  color: var(--color-text-main);
}
