// src/scss/settings/_design-tokens.scss

:root {
  // Shadow color allows you to tint shadows (e.g., blue-ish shadows on dark mode)
  --shadow-color: 220 3% 15%;
  
  --shadow-strength: 1%;

  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));

  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 8%)),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 8%)),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 8%)),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 8%));

  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
}